.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
}

.logo img {
  vertical-align: middle;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #333; /* Color de texto del menú */
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons a {
  margin-left: 15px;
}

.header-icons img {
  vertical-align: middle;
}

.buttonitem{
  background-color: white;
  border: 1px white;
  font-size: 18px;
  color: #647899;
}


/* From Uiverse.io by kamehame-ha */ 
.button {
  display: flex;
  text-align: center;
  text-justify: distribute;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  gap: 15px;
  background-color: #45474b;
  outline: 3px #ffffff solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #647899;
}

.button:hover svg path {
  fill: #647899;
}

/* From Uiverse.io by reglobby */ 
.user-profile {
  width: 80%;
  height: 50%;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  background: linear-gradient(
    to bottom right,
    #2e8eff 0%,
    rgba(46, 142, 255, 0) 30%
  );
  background-color: rgba(46, 142, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

.user-profile:hover,
.user-profile:focus {
  background-color: rgba(46, 142, 255, 0.7);
  box-shadow: 0 0 10px rgba(46, 142, 255, 0.5);
  outline: none;
}

.user-profile-inner {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #647899;
  font-weight: 5px;
}

.user-profile-inner svg {
  width: 27px;
  height: 27px;
  fill: #647899;
}

p{
  margin-top: 5%;
  font-size: 15px;
}