<form class="form">
    <span class="title">Registrar Documento</span>
    <div *ngIf="esEditar==true" style="display: flex;">
        <input type="checkbox" id="mantenerArchivo" name="mantenerArchivo" [(ngModel)]="mantenerArchivo">
        <label for="mantenerArchivo">Mantener archivo actual</label>
    </div>

    <label *ngIf="mantenerArchivo==false" for="arquivo">Eliga el documento:</label>
    <input *ngIf="mantenerArchivo==false" accept=".pdf" class="inpdddut" name="arquivo" id="arquivo" type="file"
        (change)="onFileSelected($event)">

    <label class="label">Título</label>
    <input type="text" placeholder="Título" [(ngModel)]="documento.titulo" name="titulo" class="input">

    <label class="label">Resumen</label>
    <textarea placeholder="Resumen" [(ngModel)]="documento.resumen" name="resumen" class="input"></textarea>
    <div *ngIf="errorMessage" class="error-notification">{{ errorMessage }}</div>

    <label class="label">Autor</label>
    <div class="autor-select">
        <input type="text" *ngIf="esEditar" [(ngModel)]="autorBusqueda" disabled=true name="autorBusqueda">
        <input type="text" #inputAutorBusqueda (click)="mostrarOpcionesA = true"
            (input)="buscarAutor(inputAutorBusqueda.value)" placeholder="Buscar o Crear Autor">
        <ul *ngIf="mostrarOpcionesA" class="opciones">
            <li (click)="seleccionarAutor(null)">Seleccionar Autor</li>
            <li *ngFor="let autor of autores" (click)="seleccionarAutor(autor)">{{ autor.nombre }}</li>
            <li *ngIf="btnCrearAutor" (click)="crearAutor(inputAutorBusqueda.value)">Crear "{{ inputAutorBusqueda.value
                }}"</li>
        </ul>
    </div>
    <label class="label">Carrera</label>
    <div class="autor-select">
        <input type="text" *ngIf="esEditar" [(ngModel)]="carreraBusqueda" disabled=true name="carreraBusqueda
        ">
        <input type="text" #inputCarreraBusqueda (click)="mostrarOpcionesC = true"
            (input)="buscarCarrera(inputCarreraBusqueda.value)" placeholder="Buscar o Crear Carrera">
        <ul *ngIf="mostrarOpcionesC" class="opciones">
            <li (click)="seleccionarCarrera(null)">Seleccionar Carrera</li>
            <li *ngFor="let carrera of carreras" (click)="seleccionarCarrera(carrera)">{{ carrera.nombre }}</li>
            <li *ngIf="btnCrearCarrera" (click)="crearCarrera(inputCarreraBusqueda.value)">Crear "{{ inputCarreraBusqueda.value
                }}"</li>
        </ul>
    </div>

    <label class="label">Año de Publicación</label>
    <select [(ngModel)]="anioSeleccionado" name="anioSeleccionado" class="input">
        <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
    </select>

    <button type="submit" class="submit" (click)="guardar()">Guardar</button>
</form>
<div class="piepag">
</div>