.form {
  width: 80%;
  background-color: #f6f6f6;
  padding: 20px;
  box-shadow: 0px 0px 0px 2px rgba(52, 52, 53, 0.185);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 3%;
  margin-left: 10%;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1a202c;
}

.label {
  color: rgb(0, 0, 0);
  margin-bottom: 4px;
}

.input {
  padding: 1%;
  margin-bottom: 20px;
  width: 95%;
  font-size: 1rem;
  color: #4a5568;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  background-color: #fff;
  box-shadow: 0 0 0 2px #cbd5e0;
}

.input:valid {
  border: 1px solid #76797e;
}

.input:invalid {
  border: 1px solid rgba(14, 14, 14, 0.205);
}

.submit {
  background-color: #76797e;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 20%;
  margin-left: 70%;
}

.error-notification {
  background-color: #ffe6e6;
  border: 1px solid #ff0000;
  color: #ff0000;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  font-size: 0.9em;
  position: absolute;
  z-index: 10;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.inpdddut[type="file"] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #76797e;
  border-radius: 5px;
  width: 35%;
  cursor: pointer;
}

.inpdddut[type="submit"] {
  padding: 10px 20px;
  background-color: #76797e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inpdddut[type="submit"]:hover {
  background-color: #76797e;
}

.autor-select {
  position: relative;
  width: 200px; /* Ajusta el ancho según tus necesidades */
}

.autor-select input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: white;
}

.autor-select .opciones {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.autor-select .opciones li {
  padding: 8px;
  cursor: pointer;
}

.autor-select .opciones li:hover {
  background-color: #f0f0f0;
}