<div class="user-management-container">
    <div class="cont-tittle">
        <label class="title">Gestión de Usuarios</label>
    </div>
    <div class="content">
        <div class="form-container">
            <form (ngSubmit)="crearUsuario()">
                <div class="form-group">
                    <label type="text" for="cedula">Cédula:</label>
                    <input id="cedula" name="cedula" placeholder="Cedula"
       [(ngModel)]="nuevoUsuario.cedula"
       maxlength="10"
       pattern="[0-9]{10}"
       required
       [disabled]="esEditar ? true : false"
       (keypress)="soloNumeros($event)" />
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="nuevoUsuario.nombre"
                        required>
                </div>

                <div class="form-group">
                    <label>Primera Pregunta de seguridad:</label><br>
                    <label for="primera_pregunta"><strong>¿Cuál es el nombre de tu primera mascota?</strong></label>
                    <input type="text" id="primera_pregunta" placeholder="¿Cuál es el nombre de tu primera mascota?"
                        name="primera_pregunta" [(ngModel)]="nuevoUsuario.primera_pregunta" required>
                </div>
                <div class="form-group">
                    <label>Segunda Pregunta de seguridad:</label><br>
                    <label for="segunda_pregunta"><strong>¿Cuál es tu ciudad de nacimiento?</strong></label>
                    <input type="text" id="segunda_pregunta" placeholder="¿Cuál es tu ciudad de nacimiento?"
                        name="segunda_pregunta" [(ngModel)]="nuevoUsuario.segunda_pregunta" required>
                </div>
                <div class="form-group">
                    <label for="contrasenia">Contraseña:</label>
                    <input type="password" id="contrasenia" name="contrasenia" placeholder="Contraseña"
                        [(ngModel)]="nuevoUsuario.contrasenia" required>
                </div>
                <div class="form-group">
                    <label for="contrasenia">Repita su contraseña:</label>
                    <input type="password" id="repcontrasenia" name="repcontrasenia" placeholder="Contraseña"
                        [(ngModel)]="repcontrasenia" required>
                </div>
                <button type="submit">Guardar</button>

            </form>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cédula</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>{{ usuario.id_usuario }}</td>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.cedula }}</td>
                        <td>{{ usuario.rol }}</td>
                        <td>
                            <button class="buttontable" (click)="seleccionarEditar(usuario)">Editar</button>
                        <button class="buttontable" *ngIf="usuario.rol != 'ADMINISTRADOR'" (click)="eliminarUsuario(usuario.cedula)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>