
<!-- From Uiverse.io by alexruix --> 
<div class="form-box">
  <form class="form">
      <span class="title">Log in</span>
      <span class="subtitle">Inicia sesion con tus credenciales.</span>
      <div class="form-container">
        <input type="text" class="input" placeholder="Cédula" id="cedula" name="cedula" [(ngModel)]="cedula" maxlength="10"
        pattern="[0-9]{10}" (keypress)="soloNumeros($event)">
        <input type="password" class="input" placeholder="Contraseña" id="password" name="password" [(ngModel)]="contrasenia" >

      </div>
      <button (click)="iniciarSesion()">Iniciar sesión</button>
  </form>
  <div class="form-section">
    <p>No recuerdas tu contraseña? <a (click)="abrirModalForgotPassword()">Recuperar</a> </p>
  </div>
  </div>