<div class="home-container">
  <div class="search-bar">
    <input type="text" [(ngModel)]="nombreBusqueda" placeholder="Buscar documentos...">
    <button (click)="buscarDocumentos()">Buscar</button>
  </div>

  <div class="content-container">
    <div class="filters">
      <div class="filter-group">
        <div class="filter-header">Filtros</div>
        <div class="filter-item">
          Autor
          <button class="buttonpositivo" (click)="listarAutor()">{{ mostrarAutores ? '-' : '+' }}</button>
          <div *ngIf="mostrarAutores" class="contenedor-scroll">
            <div *ngFor="let autor of autores" class="autor-item" style="justify-content: center;">
              <button class="buttonFilter" (click)="buscarxAutor(autor)">{{autor.nombre}}</button>
            </div>
          </div>
        </div>
        <div class="filter-item">
          Carreras
          <button class="buttonpositivo" (click)="listarCarreras()">{{ mostrarCarreras ? '-' : '+' }}</button>
          <div *ngIf="mostrarCarreras" class="contenedor-scroll">
            <div *ngFor="let carrera of carreras" class="autor-item" style="justify-content: center;">
              <button class="buttonFilter" (click)="buscarxCarrera(carrera)">{{carrera.nombre}}</button>
            </div>
          </div>
        </div>
        <div class="filter-item">
          Año de Publicación
          <button class="buttonpositivo" (click)="generarAnios()">{{ mostrarAnios ? '-' : '+' }}</button>
          <div *ngIf="mostrarAnios" class="contenedor-scroll">
            <div *ngFor="let anio of anios" class="autor-item"  style="justify-content: center;">
              <button class="buttonFilter" (click)="buscarxAnio(anio)">{{anio}}</button>
            </div>
          </div>
        </div>
      </div>

      <div class="results">
        <div class="results-header">
          Search Results
          <div class="results-count">Mostrando 1 - {{ documentos.length }} de {{ documentos.length }}</div>
        </div>

      </div>
    </div>
    <div class="document-list">
      <div class="document-item" *ngFor="let documento of documentos">
        <div class="document-details">
          <div class="document-info">
            <div class="document-title">{{ documento.titulo }}</div>
            <div class="document-date">({{ documento.anioPublicacion }}) {{ documento.autor.nombre }}</div>
            <div class="document-summary">{{ documento.resumen }}</div>
          </div>
          <div class="button-container">
            <button class="view-document" (click)="verDocumento(documento)">Ver documento</button>
            <button class="view-document" *ngIf="!mostrarBotonInicioSesion" (click)="editarDocumento(documento)">Editar</button>
            <button class="view-document" *ngIf="documento.id_documento && !mostrarBotonInicioSesion"
              (click)="eliminarDocumento(documento.id_documento)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>