<div class="form-box">
    <form class="form" (ngSubmit)="buscarUsuario()" *ngIf="mostrarCedula==true">
        <span class="title">Recuperar Contraseña</span>
        <span class="subtitle" style="color: rgb(255, 0, 0);">
            Ingresa tu número de cédula para recuperar tu cuenta.
        </span>
        <div class="form-container">
            <input type="text" class="input" placeholder="Número de cédula" id="cedula1" name="cedula1"
                [(ngModel)]="cedula" (keypress)="soloNumeros($event)" />
        </div>
        <button type="submit">Buscar la cédula</button>
    </form>

    <form class="form" (ngSubmit)="verificarPreguntas()" *ngIf="mostrarPreguntas && !mostrarContrasenaInput">
        <span class="title">Verificar Preguntas de Seguridad</span>
        <span class="subtitle" style="color: rgb(255, 0, 0);">
            Responde las siguientes preguntas de seguridad para recuperar tu cuenta.
        </span>
        <div class="form-container">
            <input type="text" class="input" placeholder="{{ pregunta1 }}" id="mascota" name="mascota"
                [(ngModel)]="mascota" />
            <input type="text" class="input" placeholder="{{ pregunta2 }}" name="ciudad" id="ciudad"
                [(ngModel)]="ciudad" />
        </div>
        <button type="submit">Verificar</button>
    </form>

    <form class="form" (ngSubmit)="cambiarContrasenia()" *ngIf="mostrarContrasenaInput">
        <span class="title">Cambiar Contraseña</span>
        <span class="subtitle" style="color: rgb(255, 0, 0);">
            Ingresa tu nueva contraseña.
        </span>
        <div class="form-container">
            <input type="password" class="input" placeholder="Nueva contraseña" id="nuevaContrasena"
                name="nuevaContrasena" [(ngModel)]="nuevaContrasena" />
            <input type="password" class="input" placeholder="Confirmar contraseña" name="confirmarContrasena"
                id="confirmarContrasena" [(ngModel)]="confirmarContrasena" />
        </div>
        <button type="submit">Cambiar Contraseña</button>
    </form>

</div>